.da-thumbs {
	list-style: none;
	/* width: 984px;
	height: 600px; */
	position: relative;
	/* margin: 20px auto;
	padding: 0; */
}
.da-thumbs li {
	float: left;
	/* margin: 5px; */
	/* background: #fff; */
	/* padding: 8px; */
	position: relative;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.1); */
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}