footer 
    width: 100%;
    height: 110px
    border-top: 2px solid lightgrey
    +below(1100px)
        //teste
    .center
        padding-top: 35px
        display: flex
        padding-bottom: 35px
        justify-content: space-around
        +below(1100px)
            flex-direction: column
            align-items: center
            row-gap: 50px
    
.rights
    color: $cinza
    display: flex
    margin-right: 3%
    justify-content: flex-end
    flex-wrap: wrap
    width: auto
    margin-top: 10px
    assistant 10
    +below(1160px)
        justify-content: center
        margin-right: auto
    .part2
        display: flex
        margin-left: 40px
        assistant 8
        align-items: center
