header 
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 101;
    background-color: white
    display: flex
    align-items: center
    .logo1
        height: 20px
        margin-left: 50px
        +below(600px)
            height: 13px
    #nav-desktop 
        margin-left: 11%
        width: 255px;
        display: flex;
        height: 25px
        align-items: flex-end;
        justify-content: space-between!important;
        +below(400px)
            width: 90px;
        a
            position relative
            assistant 14;
            font-weight: 400;
            color: $cinza;
            font-weight: 600
            transition: all 0.3s
            +below($mobile)
                display: none
            &:hover
                transform: scale(1.05)
        .instagram
            // filter: invert(61%) sepia(0%) saturate(70%) hue-rotate(196deg) brightness(94%) contrast(91%);
            img
                height: 16px
            

        

#mobile-toggle
        margin-right: 5%;
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        +above($mobile)
            display none
        .lines
            display block
            width 100%
            height 4px
            background $cinza
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $cinza
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +below(1260px)
        height 85px
        .center-header
            justify-content space-between
        .logo
            margin 0
            width 85px

    nav#nav-mobile
        background rgba(220,220,220,0.9)
        box-shadow 0 6px 6px rgba(#000, .1)
        height: auto
        display none
        text-align right
        padding-right: 20px
        padding-top: 20px
        position absolute
        top: 72px
        right: 5%
        width: 120px
        z-index: 120
        +above(1260px)
            display none !important
        a
            assistant(16);
            font-weight: 700;
            color: $preto;
            &:hover, &.active 
                color: $verde; 
        .center-header
            display flex
            flex-direction: column
            row-gap: 15px