html, body {
    height: 100%;
}

body {
    background-color: $bg;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: solid 1px $cinza
    position: fixed;
    z-index: 999;
    padding: 30px;

    +mobile() {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frase-cookies {
        width: 65%;
        assistant 18;
        color: #000;
        margin: 0;
        margin-left: 1%

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
        }
    }

    .aceitar-cookies {
        width: 15%;
        height: 40px;
        assistant 18;
        color: #000;
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 0;
        margin-left: 30px;
        cursor: pointer;
        outline: none;

        &:hover {
            border: 1px solid $dourado;
            background-color: $cinza;
            color white
        }

        +below($tablet) {
            font-size: 12px;
            height: 30px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-nav {
    > span {
        visibility: hidden !important;
    }
}