@import url(https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap);
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
p {
  line-height: 1.5;
}
.center {
  width: 1300px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .center {
    width: 90%;
  }
}
footer {
  width: 100%;
  height: 110px;
  border-top: 2px solid #d3d3d3;
}
footer .center {
  padding-top: 35px;
  display: flex;
  padding-bottom: 35px;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
@media only screen and (max-width: 1099px) {
  footer .center {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    row-gap: 50px;
  }
}
.rights {
  color: #4d4d4d;
  display: flex;
  margin-right: 3%;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: auto;
  margin-top: 10px;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
@media only screen and (max-width: 1159px) {
  .rights {
    -ms-justify-content: center;
    justify-content: center;
    margin-right: auto;
  }
}
.rights .part2 {
  display: flex;
  margin-left: 40px;
  font-family: 'Assistant', sans-serif;
  font-size: 8px;
  font-weight: 400;
  -ms-align-items: center;
  align-items: center;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 101;
  background-color: #fff;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
header .logo1 {
  height: 20px;
  margin-left: 50px;
}
@media only screen and (max-width: 599px) {
  header .logo1 {
    height: 13px;
  }
}
header #nav-desktop {
  margin-left: 11%;
  width: 255px;
  display: flex;
  height: 25px;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -ms-justify-content: space-between !important;
  justify-content: space-between !important;
}
@media only screen and (max-width: 399px) {
  header #nav-desktop {
    width: 90px;
  }
}
header #nav-desktop a {
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-weight: 400;
  color: #4d4d4d;
  font-weight: 600;
  transition: all 0.3s;
}
@media only screen and (max-width: 767px) {
  header #nav-desktop a {
    display: none;
  }
}
header #nav-desktop a:hover {
  transform: scale(1.05);
}
header #nav-desktop .instagram img {
  height: 16px;
}
#mobile-toggle {
  margin-right: 5%;
  display: block;
  background-color: transparent;
  border: 0;
  position: relative;
  height: 100%;
  width: 28px;
  outline: 0;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  #mobile-toggle {
    display: none;
  }
}
#mobile-toggle .lines {
  display: block;
  width: 100%;
  height: 4px;
  background: #4d4d4d;
  position: relative;
  transition: 0.3s ease;
  border-radius: 3px;
}
#mobile-toggle .lines:before,
#mobile-toggle .lines:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #4d4d4d;
  transition: 0.3s ease;
  border-radius: 3px;
}
#mobile-toggle .lines:before {
  top: 7px;
}
#mobile-toggle .lines:after {
  top: -7px;
}
#mobile-toggle.close .lines {
  background: transparent;
}
#mobile-toggle.close .lines:before,
#mobile-toggle.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
}
#mobile-toggle.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
#mobile-toggle.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
@media only screen and (max-width: 1259px) {
  .center-header {
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .logo {
    margin: 0;
    width: 85px;
  }
}
nav#nav-mobile {
  background: rgba(220,220,220,0.9);
  box-shadow: 0 6px 6px rgba(0,0,0,0.1);
  height: auto;
  display: none;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  position: absolute;
  top: 72px;
  right: 5%;
  width: 120px;
  z-index: 120;
}
@media only screen and (min-width: 1260px) {
  nav#nav-mobile {
    display: none !important;
  }
}
nav#nav-mobile a {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 700;
  color: #000;
}
nav#nav-mobile a:hover,
nav#nav-mobile a.active {
  color: $verde;
}
nav#nav-mobile .center-header {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
html,
body {
  height: 100%;
}
body {
  background-color: $bg;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
.aviso-cookies {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
  border-top: solid 1px #4d4d4d;
  position: fixed;
  z-index: 999;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .aviso-cookies {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding: 20px;
  }
}
.aviso-cookies .frase-cookies {
  width: 65%;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin: 0;
  margin-left: 1%;
}
.aviso-cookies .frase-cookies .link-politica {
  text-decoration: underline;
}
.aviso-cookies .frase-cookies .link-politica:hover,
.aviso-cookies .frase-cookies .link-politica:focus {
  font-weight: bold;
}
@media only screen and (max-width: 1199px) {
  .aviso-cookies .frase-cookies {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .aviso-cookies .frase-cookies {
    width: 100%;
    text-align: center;
  }
}
.aviso-cookies .aceitar-cookies {
  width: 15%;
  height: 40px;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0;
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}
.aviso-cookies .aceitar-cookies:hover {
  border: 1px solid $dourado;
  background-color: #4d4d4d;
  color: #fff;
}
@media only screen and (max-width: 1199px) {
  .aviso-cookies .aceitar-cookies {
    font-size: 12px;
    height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aviso-cookies .aceitar-cookies {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
}
.fancybox-overlay {
  background: rgba(0,0,0,0.8) !important;
}
.fancybox-nav > span {
  visibility: hidden !important;
}
.not-found {
  width: 100%;
  text-align: center;
  padding: 280px 0;
}
.not-found h1 {
  display: inline-block;
  padding: 15px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid $vermelho;
  color: $vermelho;
  montserrat: 11 bold;
  line-height: 1;
}
.bio {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  padding: 0;
  z-index: 102;
}
@media only screen and (max-width: 1199px) {
  .bio {
    z-index: 90;
  }
}
.bio .card1 {
  width: 50%;
  max-width: 750px;
  padding-left: 50px;
}
@media only screen and (max-width: 1599px) {
  .bio .card1 {
    width: 60%;
  }
}
@media only screen and (max-width: 1199px) {
  .bio .card1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 50px;
  }
}
.bio .card1 .texto {
  margin-top: 30px;
}
.bio .card1 .texto2 {
  margin-top: 60px;
}
.bio .card1 p {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1px;
  line-height: 24px;
}
.bio .card_image {
  margin-top: -100px;
  width: 50%;
  margin-bottom: -5px;
}
@media only screen and (max-width: 1599px) {
  .bio .card_image {
    width: 40%;
    height: auto;
  }
}
@media only screen and (max-width: 1199px) {
  .bio .card_image {
    display: none;
  }
}
.contato {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  padding: 0;
  z-index: 102;
}
@media only screen and (max-width: 1199px) {
  .contato {
    z-index: 90;
  }
}
.contato .card1 {
  width: 50%;
  max-width: 750px;
  padding-left: 50px;
  color: #4d4d4d;
}
@media only screen and (max-width: 1599px) {
  .contato .card1 {
    width: 60%;
  }
}
@media only screen and (max-width: 1199px) {
  .contato .card1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 50px;
  }
}
.contato .card1 .texto {
  margin-top: 60px;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.contato .card1 .texto a:hover {
  text-decoration: underline;
}
.contato .card1 .texto a p {
  margin: 0;
  margin-bottom: 1px;
  line-height: 24px;
}
.contato .card1 .form-contato {
  display: flex;
  flex-direction: column;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;
  max-width: 460px;
}
.contato .card1 .form-contato .frontin {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 13px;
}
.contato .card1 .form-contato .frontin input {
  border: 0;
  margin-left: 15px;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.contato .card1 .form-contato textarea {
  border: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-bottom: 2px solid #aeaeae;
}
.contato .card1 .form-contato .btn-enviar {
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 5px;
}
.contato .card_image {
  margin-top: -100px;
  width: 50%;
  margin-bottom: -5px;
}
@media only screen and (max-width: 1599px) {
  .contato .card_image {
    width: 40%;
    height: auto;
  }
}
@media only screen and (max-width: 1199px) {
  .contato .card_image {
    display: none;
  }
}
.home {
  padding: 0;
  position: relative;
}
.home .banners {
  position: relative;
  width: 1200px;
  height: 780px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1299px) {
  .home .banners {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 499px) {
  .home .banners {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.home .banners #wowslider-container1 {
  height: 100%;
}
.politica-de-privacidade .titulo {
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-weight: 900;
  color: #4d4d4d;
}
.politica-de-privacidade .texto {
  color: #4d4d4d;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.politica-de-privacidade .texto h2 {
  color: #4d4d4d;
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-weight: 700;
}
.politica-de-privacidade .texto h3 {
  color: #4d4d4d;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-weight: 700;
}
.transition-fade {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  transition: 500ms;
}
html.is-animating .transition-fade {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
main.politica-de-privacidade {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  padding: 0;
  z-index: 102;
}
main.politica-de-privacidade .card1 .pol {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
main.politica-de-privacidade .card1 .pol h2 {
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: $marrom;
  margin: 0 0 40px 0;
}
main.politica-de-privacidade .card1 .pol .texto {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-weight: 300;
  color: #000;
}
main.politica-de-privacidade .card1 .pol .texto > p {
  margin: 0 0 20px 0;
  line-height: 1.8;
}
@media only screen and (max-width: 1199px) {
  main.politica-de-privacidade .card1 .pol .texto > p {
    margin: 0 0 15px 0;
  }
}
main.politica-de-privacidade .card1 .pol .texto > p > a {
  font-style: italic;
}
main.politica-de-privacidade .card1 .pol .texto > p > a:hover {
  color: $dourado;
}
main.politica-de-privacidade .card1 .pol .texto > ul {
  list-style: disc;
  list-style-position: outside;
  margin: 0 0 20px 20px;
  padding-left: 0;
  line-height: 1.8;
}
@media only screen and (max-width: 1199px) {
  main.politica-de-privacidade .card1 .pol .texto > ul {
    margin: 0 0 15px 15px;
  }
}
main.politica-de-privacidade .card1 .pol .texto > ul li {
  line-height: 1.8;
  margin: 0;
}
main.politica-de-privacidade .card_image {
  margin-top: -100px;
  width: 50%;
  margin-bottom: -5px;
}
@media only screen and (max-width: 1599px) {
  main.politica-de-privacidade .card_image {
    width: 40%;
    height: auto;
  }
}
@media only screen and (max-width: 1199px) {
  main.politica-de-privacidade .card_image {
    display: none;
  }
}
.series .group {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 80px;
  margin-left: 25.8%;
  margin-bottom: 100px;
  max-width: 370px;
}
.series .group a {
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4d4d4d;
  position: relative;
}
.series .group a:before {
  content: "";
  width: 500px;
  height: 2px;
  position: absolute;
  top: 15px;
  left: -1515px;
  background-color: #d3d3d3;
  transition: 0.3s ease;
}
.series .group a:hover:before {
  left: -515px;
}
.show .navigation {
  display: flex;
  height: 27px;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
@media only screen and (max-width: 1159px) {
  .show .navigation {
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    height: auto;
  }
}
.show .navigation h2 {
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4d4d4d;
  margin-left: 26%;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
@media only screen and (max-width: 1159px) {
  .show .navigation h2 {
    margin-left: 55%;
  }
}
@media only screen and (max-width: 429px) {
  .show .navigation h2 {
    margin-left: 35%;
  }
}
.show .navigation h2:before {
  content: '';
  width: 600px;
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  top: 12px;
  left: -614px;
}
.show .navigation .external {
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  margin-left: 30px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  padding-bottom: 4px;
}
@media only screen and (max-width: 1159px) {
  .show .navigation .external {
    margin-left: 10%;
    flex-wrap: wrap;
  }
}
.show .navigation .external .square {
  width: 10px;
  height: 10px;
  border: 1px solid #4d4d4d;
}
@media only screen and (max-width: 1159px) {
  .show .navigation .external .square {
    margin-top: 30px;
    height: 23px;
    width: 23px;
  }
}
.show .navigation .external .square img {
  height: 19px;
}
@media only screen and (max-width: 1159px) {
  .show .navigation .external .square img {
    height: 35px;
    padding-left: 3px;
  }
}
.show .navigation .external .active {
  background-color: #d3d3d3;
}
.show .external_flex {
  position: relative;
}
.show .external_flex .mobile_demo {
  margin-top: 50px;
  display: none;
  -moz-column-gap: 2%;
  column-gap: 2%;
  border: 1px solid #d3d3d3;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex .mobile_demo {
    display: flex;
  }
}
.show .external_flex .mobile_demo img {
  max-width: 40%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.show .external_flex .pshow-imagembox {
  display: flex;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 75px;
  margin-left: 2%;
  margin-bottom: 130px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex .pshow-imagembox {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
.show .external_flex .pshow-imagembox a {
  max-width: 750px;
}
@media only screen and (max-width: 1619px) {
  .show .external_flex .pshow-imagembox a {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex .pshow-imagembox a {
    max-width: 90%;
  }
}
.show .external_flex .pshow-imagembox img {
  max-height: 500px;
  max-width: 750px;
}
@media only screen and (max-width: 1619px) {
  .show .external_flex .pshow-imagembox img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex .pshow-imagembox img {
    max-width: 100%;
  }
}
.show .external_flex .link-next .seta_baixo {
  position: absolute;
  top: 30%;
  right: 30px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex .link-next .seta_baixo {
    display: flex;
    position: relative;
    right: 0;
    -ms-justify-content: center;
    justify-content: center;
    transform: rotate(-90deg);
  }
}
.show .external_flex1 {
  position: relative;
}
.show .external_flex1 .mobile_demo {
  margin-top: 50px;
  display: none;
  -moz-column-gap: 2%;
  column-gap: 2%;
  border: 1px solid #d3d3d3;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex1 .mobile_demo {
    display: flex;
  }
}
.show .external_flex1 .mobile_demo img {
  max-width: 26%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.show .external_flex1 .pshow-imagembox1 {
  display: flex;
  -moz-column-gap: 1%;
  column-gap: 1%;
  row-gap: 20px;
  margin-top: 75px;
  margin-left: 2%;
  margin-bottom: 130px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex1 .pshow-imagembox1 {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
.show .external_flex1 .pshow-imagembox1 a {
  max-width: 750px;
}
@media only screen and (max-width: 1619px) {
  .show .external_flex1 .pshow-imagembox1 a {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex1 .pshow-imagembox1 a {
    max-width: 90%;
  }
}
.show .external_flex1 .pshow-imagembox1 img {
  max-height: auto;
  max-width: 500px;
}
@media only screen and (max-width: 1619px) {
  .show .external_flex1 .pshow-imagembox1 img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex1 .pshow-imagembox1 img {
    max-width: 100%;
  }
}
.show .external_flex1 .link-next .seta_baixo {
  position: absolute;
  top: 30%;
  right: 30px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex1 .link-next .seta_baixo {
    display: flex;
    position: relative;
    right: 0;
    -ms-justify-content: center;
    justify-content: center;
    transform: rotate(-90deg);
  }
}
.show .external_flex2 {
  position: relative;
}
.show .external_flex2 .mobile_demo {
  margin-top: 50px;
  display: none;
  -moz-column-gap: 2%;
  column-gap: 2%;
  border: 1px solid #d3d3d3;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex2 .mobile_demo {
    display: flex;
  }
}
.show .external_flex2 .mobile_demo .imgs1 {
  width: 40%;
  margin: 0;
  margin-top: 7%;
  margin-bottom: 7%;
}
.show .external_flex2 .mobile_demo .double {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-top: 7%;
  margin-bottom: 7%;
  row-gap: 10px;
}
.show .external_flex2 .mobile_demo .double a {
  height: auto;
  width: auto;
}
.show .external_flex2 .mobile_demo .double a .imgs {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: none !important;
}
.show .external_flex2 .mobile_demo2 {
  margin-top: 50px;
  display: flex;
  -moz-column-gap: 2%;
  column-gap: 2%;
  max-width: 1000px;
  margin-right: auto;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex2 .mobile_demo2 {
    display: none;
  }
}
.show .external_flex2 .mobile_demo2 .a_demo2 {
  width: 40%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.show .external_flex2 .mobile_demo2 .a_demo2 .imgs1 {
  width: 100%;
  margin: 0;
  height: 100%;
}
.show .external_flex2 .mobile_demo2 .double {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-top: 7%;
  margin-bottom: 7%;
  row-gap: 10px;
}
.show .external_flex2 .mobile_demo2 .double a {
  height: auto;
  width: auto;
}
.show .external_flex2 .mobile_demo2 .double a .imgs {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: none !important;
}
.show .external_flex2 .pshow-imagembox {
  display: none;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 75px;
  margin-left: 2%;
  margin-bottom: 130px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex2 .pshow-imagembox {
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
.show .external_flex2 .pshow-imagembox a {
  max-width: 750px;
}
@media only screen and (max-width: 1619px) {
  .show .external_flex2 .pshow-imagembox a {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex2 .pshow-imagembox a {
    max-width: 90%;
  }
}
.show .external_flex2 .pshow-imagembox img {
  max-height: 500px;
  max-width: 750px;
}
@media only screen and (max-width: 1619px) {
  .show .external_flex2 .pshow-imagembox img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex2 .pshow-imagembox img {
    max-width: 100%;
  }
}
.show .external_flex2 .link-next .seta_baixo {
  position: absolute;
  top: 30%;
  right: 30px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex2 .link-next .seta_baixo {
    display: flex;
    position: relative;
    right: 0;
    -ms-justify-content: center;
    justify-content: center;
    transform: rotate(-90deg);
  }
}
.show .external_flex3 {
  position: relative;
}
.show .external_flex3 .mobile_demo {
  margin-top: 50px;
  display: none;
  -moz-column-gap: 2%;
  column-gap: 2%;
  border: 1px solid #d3d3d3;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 1529px) {
  .show .external_flex3 .mobile_demo {
    display: flex;
  }
}
.show .external_flex3 .mobile_demo img {
  max-width: 12%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.show .external_flex3 .pshow-imagembox {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
  row-gap: 40px;
  margin-top: 75px;
  margin-left: 2%;
  margin-bottom: 130px;
}
@media only screen and (max-width: 1529px) {
  .show .external_flex3 .pshow-imagembox {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1159px) {
  .show .external_flex3 .pshow-imagembox {
    margin-bottom: 20px;
  }
}
.show .external_flex3 .pshow-imagembox a {
  max-width: 200px;
}
@media only screen and (max-width: 1529px) {
  .show .external_flex3 .pshow-imagembox a {
    max-width: 90%;
  }
}
.show .external_flex3 .pshow-imagembox img {
  max-height: 500px;
  max-width: 200px;
}
@media only screen and (max-width: 1529px) {
  .show .external_flex3 .pshow-imagembox img {
    max-width: 100%;
  }
}
.show .external_flex3 .link-next .seta_baixo {
  position: absolute;
  top: 30%;
  right: 30px;
}
@media only screen and (max-width: 1159px) {
  .show .external_flex3 .link-next .seta_baixo {
    display: flex;
    position: relative;
    right: 0;
    -ms-justify-content: center;
    justify-content: center;
    transform: rotate(-90deg);
  }
}
.external_flex4 {
  margin-top: 40px;
  margin-bottom: 50px;
  min-height: 290px;
}
.external_flex4 .flex4 {
  display: flex;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 1459px) {
  .external_flex4 .flex4 {
    flex-direction: column;
    max-width: 660px;
  }
}
.external_flex4 .flex4 .texto_pt {
  max-width: 665px;
}
.external_flex4 .flex4 .texto_pt p {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4d4d4d;
}
.external_flex4 .flex4 .texto_en {
  max-width: 665px;
}
.external_flex4 .flex4 .texto_en p {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4d4d4d;
}
.external_flex4 .link-next .seta_baixo {
  position: absolute;
  top: 30%;
  right: 30px;
}
@media only screen and (max-width: 1159px) {
  .external_flex4 .link-next .seta_baixo {
    display: flex;
    position: relative;
    right: 0;
    -ms-justify-content: center;
    justify-content: center;
    transform: rotate(-90deg);
  }
}

