@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
* {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.painel-login {
  background: linear-gradient(90deg, #2f4257 10%, #b2c6db 120%);
}
.painel-login .login {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  margin: 100px auto 0;
  float: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
@media screen and (max-width: 768px) {
  .painel-login .login {
    margin-top: 30px;
  }
}
.painel-login .input-group {
  margin-bottom: 5px;
}
.painel-login h3 small {
  display: block;
  margin-top: 5px;
}
.obs {
  color: #f00;
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  .navbar-header {
    width: 100%;
  }
}
.dropdown-toggle:after {
  display: none;
}
.btn-success,
.btn-danger,
.btn-primary,
.btn-secondary,
.btn-warning,
.btn-dark {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.btn-dark {
  width: 40px;
}
.btn-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #0f7864;
  border-color: #0f7864;
  box-shadow: none;
}
.btn-primary {
  background-color: #354b60;
  border-color: #354b60;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #1a252f;
  border-color: #1a252f;
  box-shadow: none;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #bf2718;
  border-color: #bf2718;
  box-shadow: none;
}
.btn-secondary {
  background-color: #95a5a6;
  border-color: #95a5a6;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #6d8082;
  border-color: #6d8082;
  box-shadow: none;
}
.btn-warning {
  background-color: #ffd454;
  border-color: #ffd454;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #d39e00;
  border-color: #d39e00;
  box-shadow: none;
}
.btn-dark {
  background-color: #212529;
  border-color: #212529;
  box-shadow: none;
}
.btn-dark:hover,
.btn-dark:focus {
  background-color: #434b53;
  border-color: #434b53;
  box-shadow: none;
}
.btn-gerenciar {
  color: #000;
  background-color: #a9dcf1;
  border-color: #a9dcf1;
  max-width: 120px;
}
.btn-gerenciar:hover,
.btn-gerenciar:focus {
  background-color: #55b9e3;
  border-color: #55b9e3;
  box-shadow: none;
}
.label-success {
  background-color: #ffe088;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 600;
  color: #000;
}
.input-text {
  min-height: 40px;
  border: 2px solid #dce4ec;
}
.input-textarea {
  max-height: 100px;
  border: 2px solid #dce4ec;
  padding: 10px;
  resize: none;
}
label {
  color: #333;
  font-weight: 600;
}
thead {
  border-bottom: 2px solid #dce4ec;
}
td {
  vertical-align: middle !important;
}
.well {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #dce4ec;
  display: flex;
  align-items: center;
  padding: 10px;
}
.well-msg {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #dce4ec;
  padding: 20px 10px 10px 10px;
}
.ck-editor {
  border: 2px solid #dce4ec !important;
  border-radius: 4px;
  transition: border 0.3s !important;
}
.ck-editor__editable {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  min-height: 100px;
  max-height: 300px;
}
.cke_focused {
  border-color: #2c3e50 !important;
}
.ck,
.form-control {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px !important;
}
.ck > p,
.form-control > p {
  font-size: 14px !important;
}
.ck > ul,
.form-control > ul {
  font-size: 14px !important;
}
.ck > ul > li,
.form-control > ul > li {
  font-size: 14px !important;
}
.flash {
  margin: 0 auto;
  width: 100%;
  height: auto;
  font-size: 12px !important;
  padding: 10px;
  border-radius: 0.25rem;
  position: relative;
}
.flash > div {
  font-size: 12px;
}
.flash > p {
  margin: 0;
}
.flash > ul {
  margin: 0 !important;
}
.flash > ul > li {
  font-size: 12px !important;
}
.flash.flash-erro {
  border: 2px solid #e02227;
  background-color: #e02227;
  color: #fff;
}
.flash.flash-sucesso {
  border: 2px solid #2caf2c;
  background-color: #2caf2c;
  color: #fff;
  text-align: center;
}

