desktop-base-width = 1300px;
rupture.medium-cutoff = $medium = 1300px;
rupture.tablet-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;
$preto = #000;
$branco = #FFFFFF;
$cinza = #4D4D4D;


@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
   


assistant($size, $weight = normal) {
    font-family: 'Assistant', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }
}

