.bio
    display: flex
    justify-content: space-between
    position: relative
    padding: 0
    z-index: 102
    +below(1200px)
        z-index: 90 
    .card1
        width: 50%
        max-width: 750px
        padding-left: 50px
        +below(1600px)
            width: 60%
        +below(1200px)
            width: 80%
            margin-left: auto
            margin-right: auto
            padding-left: 0
            margin-bottom: 50px
        .texto
            margin-top: 30px
        .texto2
            margin-top: 60px
        p
            assistant 14!important
            margin: 0
            margin-bottom: 1px
            line-height: 24px

    .card_image
        margin-top: -100px
        width: 50%
        margin-bottom: -5px;
        +below(1600px)
            width: 40%
            height: auto
        +below(1200px)
            display: none