.contato
    display: flex
    justify-content: space-between
    position: relative
    padding: 0
    z-index: 102
    +below(1200px)
        z-index: 90 
    .card1
        width: 50%
        max-width: 750px
        padding-left: 50px
        color: $cinza
        +below(1600px)
            width: 60%
        +below(1200px)
            width: 80%
            margin-left: auto
            margin-right: auto
            padding-left: 0
            margin-bottom: 50px
        .texto
            margin-top: 60px
            assistant 18
            a
                &:hover
                    text-decoration: underline
                p
                    margin: 0
                    margin-bottom: 1px
                    line-height: 24px
        .form-contato
            display: flex
            flex-direction: column
            assistant 16
            margin-top: 60px
            max-width: 460px
            .frontin
                display: flex
                align-items: center
                margin-bottom: 13px
                input
                    border: 0
                    margin-left: 15px
                    assistant 16
                    
            textarea
                border: 0
                assistant 16
                padding: 10px
                border-bottom: 2px solid #aeaeae
            .btn-enviar
                assistant 12
                background-color: transparent
                border: 0
                cursor: pointer
                margin-right: 5px
                margin-left: auto
                margin-top: 5px
    .card_image
        margin-top: -100px
        width: 50%
        margin-bottom: -5px;
        +below(1600px)
            width: 40%
            height: auto
        +below(1200px)
            display: none