.home
    padding: 0
    position: relative
    .banners
        position: relative
        width: 1200px
        height: 780px
        margin-left: 50px
        margin-right: 50px
        margin-bottom: 50px
        // margin-top: 30px
        +below(1300px)
            width: auto
            height: auto
        +below(500px)
            width: auto
            height: auto
            margin-left: 10px
            margin-right: 10px
        #wowslider-container1
            height: 100%
    

//Política de Privacidade
.politica-de-privacidade
    .titulo
        assistant 20
        font-weight: 900
        color $cinza
    .texto
        color $cinza
        assistant 16
        h2
            color $cinza
            assistant 20
            font-weight: 700
        h3
            color $cinza
            assistant 18
            font-weight: 700

.transition-fade{
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade{
    opacity: 0

}