main.politica-de-privacidade 
    display: flex
    justify-content: space-between
    position: relative
    padding: 0
    z-index: 102
    .card1 
        .pol
            margin-top: 20px
            margin-left: 5%
            margin-right: 5%
            h2 
                assistant 24;
                color: $marrom;
                margin: 0 0 40px 0;
            
            .texto 
                assistant(14, light);
                color: $preto;
                > p 
                    margin: 0 0 20px 0;
                    line-height: 1.8;
                    +below($tablet) 
                        margin: 0 0 15px 0;
                    > a 
                        font-style: italic;
                        &:hover 
                            color: $dourado;
                        
                > ul 
                    list-style: disc;
                    list-style-position: outside;
                    margin: 0 0 20px 20px;
                    padding-left: 0;
                    line-height: 1.8;
                    +below($tablet) 
                        margin: 0 0 15px 15px;
                    li 
                        line-height: 1.8;
                        margin: 0;

    .card_image
        margin-top: -100px
        width: 50%
        margin-bottom: -5px;
        +below(1600px)
            width: 40%
            height: auto
        +below(1200px)
            display: none          
            
        
    
