.series
    .group
        display: flex
        flex-direction: column
        row-gap: 25px
        margin-top: 80px
        margin-left: 25.8%
        margin-bottom: 100px
        max-width: 370px
        a
            assistant 24
            color: $cinza
            position: relative
            &:before
                content: ""
                width: 500px
                height: 2px
                position: absolute
                top: 15px
                left: -1515px
                background-color: lightgrey
                transition: 0.3s ease
            &:hover
                &:before
                    left: -515px


//show
.show
    .navigation
        display: flex
        height: 27px
        align-items: flex-end
        +below(1160px) 
            flex-direction: column
            align-items: flex-start
            height: auto
        h2
            assistant 20
            color $cinza
            margin-left: 26%
            margin-top: 0
            margin-bottom: 0
            position: relative
            +below(1160px) 
                margin-left: 55%
            +below(430px)
                margin-left: 35%
            &:before
                content: ''
                width: 600px
                height: 2px
                background-color: lightgrey
                position: absolute
                top: 12px
                left: -614px
        .external
            display: flex
            align-items: flex-end
            margin-left: 30px
            column-gap: 5px
            padding-bottom: 4px
            +below(1160px)
                margin-left: 10%
                flex-wrap: wrap
            .square
                width: 10px
                height: 10px
                border: 1px solid $cinza
                +below(1160px) 
                    margin-top: 30px
                    height: 23px
                    width: 23px
                img
                    height: 19px
                    +below(1160px)
                        height: 35px
                        padding-left: 3px
            .active
                background-color: lightgrey
    
    .external_flex
        position: relative
        .mobile_demo
            margin-top: 50px
            display: none
            column-gap: 2%
            border: 1px solid lightgrey
            max-width: 80%
            margin-left: auto
            margin-right: auto
            justify-content: center
            +below(1160px)
                display: flex
            img
                max-width: 40%
                margin-top: 7%
                margin-bottom: 7%
        .pshow-imagembox
            display: flex
            column-gap: 40px
            row-gap: 40px
            margin-top: 75px
            margin-left: 2%
            margin-bottom: 130px
            +below(1160px)
                flex-direction: column
                align-items: center
                width: 80%
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px
            a
                max-width: 750px
                +below(1620px)
                    max-width: 450px
                +below(1160px)
                    max-width: 90%
            img
                max-height: 500px
                max-width: 750px
                +below(1620px)
                    max-width: 450px
                +below(1160px)
                    max-width: 100%
        .link-next
            .seta_baixo
                position: absolute
                top: 30%
                right: 30px
                +below(1160px)
                    display: flex
                    position relative
                    right: 0
                    justify-content: center
                    transform: rotate(-90deg);


    .external_flex1
        position: relative
        .mobile_demo
            margin-top: 50px
            display: none
            column-gap: 2%
            border: 1px solid lightgrey
            max-width: 80%
            margin-left: auto
            margin-right: auto
            justify-content: center
            +below(1160px)
                display: flex
            img
                max-width: 26%
                margin-top: 7%
                margin-bottom: 7%

        .pshow-imagembox1
            display: flex
            column-gap: 1%
            row-gap: 20px
            margin-top: 75px
            margin-left: 2%
            margin-bottom: 130px
            +below(1160px)
                flex-direction: column
                align-items: center
                width: 80%
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px
            a
                max-width: 750px
                +below(1620px)
                    max-width: 450px
                +below(1160px)
                    max-width: 90%
            img
                max-height: auto
                max-width: 500px
                +below(1620px)
                    max-width: 350px
                +below(1160px)
                    max-width: 100%
        .link-next
            .seta_baixo
                position: absolute
                top: 30%
                right: 30px
                +below(1160px)
                    display: flex
                    position relative
                    right: 0
                    justify-content: center
                    transform: rotate(-90deg);

    .external_flex2
        position: relative
        .mobile_demo
            margin-top: 50px
            display: none
            column-gap: 2%
            border: 1px solid lightgrey
            max-width: 80%
            margin-left: auto
            margin-right: auto
            justify-content: center
            +below(1160px)
                display: flex
            .imgs1
                width: 40%
                margin: 0
                margin-top: 7%
                margin-bottom: 7%    
            .double
                display: flex
                flex-direction: column
                max-width: 40%
                margin-top: 7%
                margin-bottom: 7%
                row-gap: 10px
                a
                    height: auto
                    width: auto
                    .imgs
                        margin: 0
                        height: 100%
                        width: 100%
                        max-width: none!important
        .mobile_demo2
            margin-top: 50px
            display: flex
            column-gap: 2%
            max-width: 1000px
            margin-right: auto
            justify-content: center
            +below(1160px)
                display: none
            .a_demo2
                width: 40%
                margin-top: 7%
                margin-bottom: 7%  
                .imgs1
                    width: 100%
                    margin: 0
                    height: 100%
            .double
                display: flex
                flex-direction: column
                max-width: 40%
                margin-top: 7%
                margin-bottom: 7%
                row-gap: 10px
                a
                    height: auto
                    width: auto
                    .imgs
                        margin: 0
                        height: 100%
                        width: 100%
                        max-width: none!important

        .pshow-imagembox
            display: none
            column-gap: 40px
            row-gap: 40px
            margin-top: 75px
            margin-left: 2%
            margin-bottom: 130px
            +below(1160px)
                display: flex
                flex-direction: column
                align-items: center
                width: 80%
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px
            a
                max-width: 750px
                +below(1620px)
                    max-width: 450px
                +below(1160px)
                    max-width: 90%
            img
                max-height: 500px
                max-width: 750px
                +below(1620px)
                    max-width: 450px
                +below(1160px)
                    max-width: 100%
        .link-next
            .seta_baixo
                position: absolute
                top: 30%
                right: 30px
                +below(1160px)
                    display: flex
                    position relative
                    right: 0
                    justify-content: center
                    transform: rotate(-90deg);

    .external_flex3
        position: relative
        .mobile_demo
            margin-top: 50px
            display: none
            column-gap: 2%
            border: 1px solid lightgrey
            max-width: 80%
            margin-left: auto
            margin-right: auto
            justify-content: center
            +below(1530px)
                display: flex
            img
                max-width: 12%
                margin-top: 7%
                margin-bottom: 7%
        .pshow-imagembox
            display: flex
            column-gap: 5px
            row-gap: 40px
            margin-top: 75px
            margin-left: 2%
            margin-bottom: 130px
            +below(1530px)
                flex-direction: column
                align-items: center
                width: 80%
                margin-left: auto;
                margin-right: auto;
            +below(1160px)
                margin-bottom: 20px
            a
                max-width: 200px
                +below(1530px)
                    max-width: 90%
            img
                max-height: 500px
                max-width: 200px
                +below(1530px)
                    max-width: 100%
        .link-next
            .seta_baixo
                position: absolute
                top: 30%
                right: 30px
                +below(1160px)
                    display: flex
                    position relative
                    right: 0
                    justify-content: center
                    transform: rotate(-90deg);
                

.external_flex4
    margin-top: 40px
    margin-bottom: 50px
    min-height: 290px
    .flex4
        display: flex
        max-width: 1550px
        margin-left: auto
        margin-right: auto
        justify-content: space-between
        column-gap: 30px
        row-gap: 30px
        padding-left: 50px
        padding-right: 50px
        +below(1460px)
            flex-direction: column
            max-width: 660px
        .texto_pt
            max-width: 665px
            p
                assistant 18
                color: $cinza

        .texto_en
            max-width: 665px
            p
                assistant 18
                color: $cinza

    .link-next
        .seta_baixo
            position: absolute
            top: 30%
            right: 30px
            +below(1160px)
                display: flex
                position relative
                right: 0
                justify-content: center
                transform: rotate(-90deg);
    